# Name: FFmpeg_FrameReader
# Author: Stanislav Chizhik
# Version: 0.3.0

# ImageJ plugin which allows 
# linear frame-by-frame import of compressed video files into a virtual stack. 
# Import is done with FFmpeg library and uses org.bytedeco.javacv.FFmpegFrameGrabber class,
# a part of javacv package (java interface to OpenCV, FFmpeg and other) by Samuel Audet.


File>Import>, "Compressed video",ffmpeg_video_import.FFmpeg_FrameReader("")
Plugins>JavaCV>, "Install JavaCV libraries",javacv_install.Install_JavaCV("")
