# Name: FFmpeg_Video
# Author: Stanislav Chizhik/Jeff Hardin/Stein Rørvik
# Version: 0.4.1

# Two ImageJ plugins which allow to 
# 1. import of compressed video files into a virtual stack or hyperstack 
# 2. export a stack as compressed video file 
# Import and export are done with FFmpeg library and use org.bytedeco.javacv.FFmpegFrameGrabber
# and org.bytedeco.javacv.FFmpegFrameRecorder classes
# from javacv package (java interface to OpenCV, FFmpeg and other) by Samuel Audet.

File>Import>, "Import Movie Using FFmpeg...",ffmpeg_video.FFmpeg_FrameReader("")
File>Save As>, "Export Movie Using FFmpeg...",ffmpeg_video.FFmpeg_FrameRecorder("")



